{% extends 'base.html.twig' %}

{% block title %}Todo List{% endblock %}

{% block body %}
    <div class="max-w-4xl mx-auto my-8 p-6 bg-white shadow-md rounded-lg">
        <div class="flex items-center justify-center relative">
            <h1 class="text-3xl font-semibold text-blue-600 text-center">
                Ma Todo List
            </h1>
            <div class="absolute right-0" {{ react_component('LanguageSelector', {}) }}></div>
        </div>

        <div {{ react_component('TodoList', {}) }}></div>
    </div>
{% endblock %}